.header {
    margin-left: 42%;
    margin-top: 150px;
    display: flex;
    font-size: 40px
}
.container-2{
    padding: 20px;
}
.exploreHeader {
    text-align: center;
    margin-top: 20px;
}
.explore-image-1 {
    width: 1000px;
    height: 800px;
    margin-left: 200px;
}
.explore{
    color: rgb(202, 61, 61);
    margin-right: 8px;

}
.content-2 {
    margin: 30px;
    line-height: 28px;
}
.content-3 {
    margin : 30px;
    line-height: 28px;
}

.content-4 {
    display: flex;
    margin : 30px;
    line-height: 28px;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    width: 500px;
    height: 500px;
}
.text-header{
    text-align: center;
    margin: 20px;
}