.Card{
    margin-left: 30%;
    margin-top: 17%; 
    position: absolute;
    z-index: 10;
    font-size: x-large;
}
.Card h3{
    color: white;
}
.designer{
    color: white;
}
.discoverButton{
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    width: 160px;
    font-size: medium;
    cursor: pointer;
    color: rgb(202, 61, 61);
    border-style: none;
}
.discoverButton:hover{
    background-color: rgb(202, 61, 61);
    color: white;
}
.interior{
    color: rgb(202, 61, 61) ;
}
.interior-designer{
    display: flex;
    padding: 4px;
}
.interior{
    margin-right: 4px;
}
.designer{
    margin-left: 8px;
}