.grid-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 20px;
    column-gap: 40px;
    row-gap: 20px;
    font-size: x-large;
}
.message{
    margin-top: 20px;
    padding-left: 10px;
}
.form button{
    height: 40px;
    width: 87%;
    margin-top: 20px;
    background-color: rgb(235, 99, 99);
    border-style: none;
    border-radius: 5px;
    color: white;
    

}