.footerContainer{
    display: flex;
    background-color: rgb(65, 28, 28);
    color: white;
    height: 140px;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;

}
.footertext{
    color: white;
}
