.search-section{

    width: 1000px;
    text-align: center;
    margin: auto;
    padding: 30px;
    height: 150px;
    margin-top: -90px;
    border-radius: 10px;
     background-color: rgba(255, 255, 255, 1);;
     box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    
}
.dropdowns-container{
    display: flex;
    justify-content: space-evenly;
}
.search-container{
    margin-top: 20px;
    
}
.search-btn{
    width: 100%;
    margin-top: 30px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(235, 99, 99);
    color: white;
    border-style: none;
    cursor: pointer;
}
.dropdown-home{
    color: red;
}